@charset "UTF-8";
.main {
  padding: 60px 0 50px;
  position: relative;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0px 10px 8px #474747;
}
.main__wrapper {
  padding: 0 10px;
}
.main__first__figure {
  width: 100%;
  margin: 0;
  padding: 0;
  grid-column: 2/3;
}
.main__first__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__first__separator {
  padding-bottom: 40px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.main__first__text {
  margin-top: 40px;
}
.main__first__text__title {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.1;
}
@media screen and (min-width: 576px) {
  .main__first__text__title {
    font-size: 36px;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .main__first__text__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .main__first__text__title {
    font-size: 54px;
    font-weight: 300;
  }
}
.main__first__text__paragraph {
  color: #a8a8a8;
  line-height: 1.7;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main__first__text__paragraph {
    font-size: 18px;
    margin: 50px 0;
  }
}
.main__first__button {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 0 0 40px;
}
.main__first__button__play {
  display: block;
  text-decoration: none;
  margin-right: 10px;
}
.main__first__button__play__icon {
  font-size: 50px;
  color: orangered;
}
@media screen and (min-width: 1200px) {
  .main__first__button {
    padding-bottom: 60px;
  }
}
.main__first__phone__paragraph {
  line-height: 1.7;
  margin: 24px 0;
}
.main__first__phone__logo {
  display: flex;
  align-items: center;
}
.main__first__phone__logo__icon {
  font-size: 20px;
  color: orangered;
}
@media screen and (min-width: 1200px) {
  .main__first__phone__logo__icon {
    font-size: 30px;
  }
}
.main__first__phone__logo__line {
  margin-left: 20px;
}
.main__first__phone__logo__hotline {
  display: block;
  color: #808080;
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .main__first__phone__logo__hotline {
    font-size: 14px;
  }
}
.main__first__phone__logo__number {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .main__first__phone__logo__number {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .main__first__phone {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .main__first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main__first {
    padding: 30px 0;
    align-items: center;
  }
}
.main__second {
  padding-top: 20px;
}
.main__second__figure {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .main__second__figure {
    grid-column: 1/2;
  }
}
.main__second__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .main__second__separator {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.main__second__years__title {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  margin: 20px 0 20px;
}
@media screen and (min-width: 576px) {
  .main__second__years__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .main__second__years__title {
    font-size: 54px;
  }
}
.main__second__years__paragraph {
  color: gray;
  margin: 0 0 20px;
}
@media screen and (min-width: 1200px) {
  .main__second__years__paragraph {
    font-size: 20px;
  }
}
.main__second__years__paragraph__two {
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .main__second__years__paragraph__two {
    font-size: 16px;
  }
}
.main__second__btn {
  padding: 30px 0 40px;
}
.main__second__btn__link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  color: #ff4500;
  border: 1px solid #ff4500;
  border-radius: 5px;
  transition: all 300ms ease-in;
}
.main__second__statistics {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .main__second__statistics__clients, .main__second__statistics__employed, .main__second__statistics__projects {
    display: flex;
    align-items: center;
  }
}
.main__second__statistics__clients__number {
  font-size: 36px;
  font-weight: 300;
}
@media screen and (min-width: 576px) {
  .main__second__statistics__clients__number {
    font-size: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .main__second__statistics__clients__number {
    font-size: 60px;
  }
}
.main__second__statistics__clients__satisfaction__text {
  color: gray;
  font-size: 14px;
}
@media screen and (min-width: 576px) {
  .main__second__statistics__clients__satisfaction__text {
    display: block;
    margin-left: 10px;
  }
}
@media screen and (min-width: 576px) {
  .main__second__statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .main__second__statistics {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 992px) {
  .main__second__statistics {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .main__second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    padding-top: 40px;
  }
}
.main__third {
  text-align: center;
  padding: 40px 0 60px;
}
.main__third__solution__title {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 300;
}
@media screen and (min-width: 576px) {
  .main__third__solution__title {
    padding-top: 60px;
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .main__third__solution__title {
    font-size: 54px;
  }
}
.main__third__solution__paragraph {
  margin: 0 0 40px;
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .main__third__solution__paragraph {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .main__third__all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.main__third__all__content {
  margin-top: 50px;
}
.main__third__all__content__icon {
  font-size: 50px;
  color: #ff4500;
  margin: 0 0 25px;
}
.main__third__all__content__description__title {
  font-size: 24px;
  margin: 0 0 16px;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .main__third__all__content__description__title {
    font-size: 36px;
  }
}
.main__third__all__content__description__paragraph {
  font-size: 14px;
  margin: 0 0 24px;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .main__third__all__content__description__paragraph {
    font-size: 18px;
  }
}
.main__third__all__content__description__number {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .main__third__all__content__description__number {
    font-size: 18px;
  }
}
.main__four {
  padding: 0 0 60px;
}
.main__four__position {
  position: relative;
}
.main__four__position__figure {
  width: 100%;
  margin: 0;
}
.main__four__position__img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.main__four__position__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
}
.main__four__position__text__title {
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  .main__four__position__text__title {
    font-size: 32px;
    margin: 35px 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .main__four__position__text__title {
    font-size: 42px;
  }
}
.main__four__position__text__paragraph {
  width: 70%;
  margin-bottom: 10px;
  font-size: 12px;
  color: #312e2e;
}
@media screen and (min-width: 576px) {
  .main__four__position__text__paragraph {
    font-size: 16px;
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .main__four__position__text__paragraph {
    font-size: 22px;
  }
}
.main__four__position__text__link {
  color: #000;
}
@media screen and (min-width: 576px) {
  .main__four__position__text__link {
    font-size: 16px;
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .main__four__position__text__link {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .main__four__position__text {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .main__four__position {
    grid-column: 2/3;
  }
}
.main__four__all__content__comillas:before {
  display: block;
  height: 70px;
  content: "❞";
  font-size: 100px;
  color: #ff4500;
}
.main__four__all__content__paragraph {
  line-height: 1.7;
  font-weight: 300;
  margin: 10px 0 24px;
}
@media screen and (min-width: 992px) {
  .main__four__all__content__paragraph {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .main__four__all__content__paragraph {
    font-size: 25px;
    line-height: 1.4;
  }
}
.main__four__all__author__name {
  font-size: 14px;
  font-weight: 500;
  display: block;
}
@media screen and (min-width: 992px) {
  .main__four__all__author__name {
    font-size: 18px;
  }
}
.main__four__all__author__direction {
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .main__four__all__author__direction {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .main__four__all {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 768px) {
  .main__four {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main__four {
    padding-top: 40px;
  }
}
.main__five {
  text-align: center;
}
.main__five__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 16px;
}
@media screen and (min-width: 576px) {
  .main__five__title {
    font-size: 42px;
  }
}
.main__five__paragraph {
  font-size: 14px;
  margin: 0 0 60px;
}
@media screen and (min-width: 576px) {
  .main__five__paragraph {
    font-size: 16px;
  }
}
.main__five__contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(191px, 1fr));
  gap: 30px;
}
.main__five__contain__img1 {
  background-image: url(../../img/img-interiores/imagen_treceR.jpg);
  background-size: cover;
}
.main__five__contain__img2 {
  background-image: url(../../img/img-interiores/imagen_catorceR.jpg);
  background-size: cover;
}
.main__five__contain__img3 {
  background-image: url(../../img/img-interiores/imagen_quinceR.jpg);
  background-size: cover;
}
.main__five__contain__img4 {
  background-image: url(../../img/img-interiores/imagen_dieciseisR.jpg);
  background-size: cover;
}
.main__five__contain__img5 {
  background-image: url(../../img/img-interiores/imagen_diecisieteR.jpg);
  background-size: cover;
}
.main__five__contain__img6 {
  background-image: url(../../img/img-interiores/imagen_ochoR.jpg);
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .main__five__contain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(320px, 1fr));
  }
}

/*# sourceMappingURL=main-interiores.css.map */
