//MAPS

//COLORES DE LOS BOTONES DE LAS REDES SOCIALES

$redesSociales : (
  twitter: #1dcaff,
  facebook: #2c5dff,
  instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%),
);

//MAPA DE LA SECCIÓN CINCO (INTERIORES)
$imagenes : (
    img1 : url(../../img/img-interiores/imagen_treceR.jpg),
    img2 : url(../../img/img-interiores/imagen_catorceR.jpg),
    img3 : url(../../img/img-interiores/imagen_quinceR.jpg),
    img4 : url(../../img/img-interiores/imagen_dieciseisR.jpg),
    img5 : url(../../img/img-interiores/imagen_diecisieteR.jpg),
    img6 : url(../../img/img-interiores/imagen_ochoR.jpg)
  );








