//IMPORTACIONES

@import '../variables/variables';
@import '../maps/maps';
@import '../media-queries/media-Queries';

.main {
  padding: 60px 0 50px;
  position: relative;
  z-index: 20;
  background-color: $color-white;
  box-shadow: 0px 10px 8px $color-shadow;


  &__wrapper {
    padding: 0 10px;
  }

  &__first {

    &__figure {
      width: 100%;
      margin: 0;
      padding: 0;
      grid-column: 2 / 3;
    }
    
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    &__separator {
      padding-bottom: 40px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    
    &__text {
      margin-top: 40px;
      &__title {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.1;
        
        @include responsive(phone) {
          font-size: 36px;
          font-weight: 400;
        }

        @include responsive(tablet) {
          font-size: 48px;
        }

        @include responsive(desktop) {
          font-size: 54px;
          font-weight: 300;
        }
      }
      
      &__paragraph {
        color: #a8a8a8;
        line-height: 1.7;
        margin-bottom: 30px;

        @include responsive(desktop) {
          font-size: 18px;
          margin: 50px 0;
        }
      }
    }
    
    &__button {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $color-black;
      padding: 0 0 40px;

      &__play {
        display: block;
        text-decoration: none;
        margin-right: 10px;

        &__icon {
          font-size: 50px;
          color: $color-orangered;
        }
      }

      @include responsive(desktop) {
        padding-bottom:60px;
      }
    }

    &__phone {
     
      &__paragraph {
        line-height: 1.7;
        margin: 24px 0;
      }

      &__logo {
        display: flex;
        align-items: center;
        &__icon {
          font-size: 20px;
          color: $color-orangered;

          @include responsive(desktop) {
            font-size: 30px;
          }
        }

        &__line {
          margin-left: 20px;
        }

        &__hotline {
          display: block;
          color: $color-gray-ligth;
          font-size: 12px;

          @include responsive(tablet) {
            font-size: 14px;
          }
        }

        &__number {
          font-size: 18px;

          @include responsive(tablet) {
            font-size: 22px;
          }
        }
      }

      @include responsive(desktop) {
        padding-top:40px;
      }
    }

    @include responsive(smartPhone) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 0 0 30px;
    }

    @include responsive(desktop) {
      padding: 30px 0;
      align-items: center;
    }
  }

  //SEGUNDA SECCIÓN

  &__second {
    padding-top: 20px;

    &__figure {
      margin: 0;
      padding: 0;
      @include responsive(smartPhone) {
        grid-column: 1 / 2;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__separator {

      @include responsive(smartPhone) {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &__years {

      &__title {
        font-size: 26px;
        font-weight: 300;
        line-height: 1.2;
        margin: 20px 0 20px;

        @include responsive(phone) {
          font-size: 42px;
        }

        @include responsive(desktop) {
          font-size: 54px;
        }
      }

      &__paragraph {
        color: $color-gray-ligth;
        margin: 0 0 20px;

        @include responsive(desktop) {
          font-size: 20px;
        }

        &__two {
          font-size: 14px;

          @include responsive(desktop) {
            font-size: 16px;
          }
        }
      }
    }

    &__btn {
      padding: 30px 0 40px;

      &__link {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        color: $color-orangered;
        border: 1px solid $color-orangered;
        border-radius: 5px;
        transition: all 300ms ease-in;

        &:hover {
          background-color: $color-orangered;
          color: $color-white;
        }
      }
    }

    &__statistics {
      text-align: center;

      &__clients {

        @include responsive(phone) {
          display: flex;
          align-items: center;
        }
        
        &__number {
          font-size: 36px;
          font-weight: 300;

          @include responsive(phone) {
            font-size: 46px;
          }

          @include responsive(desktop) {
            font-size: 60px;
          }
        }
        
        &__satisfaction {
          
          &__text {
            color: $color-gray-ligth;
            font-size: 14px;
            
            @include responsive(phone) {
              display: block;
              margin-left: 10px;
            }
          }
        }
      }

      &__employed, &__projects {
        @extend .main__second__statistics__clients;
        
      }

      @include responsive(phone) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include responsive(smartPhone) {
        grid-column: 1 / -1;
      }

      @include responsive(tablet) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include responsive(smartPhone) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      justify-items: center;
      align-items: center;
      padding-top: 40px;
    }
  }

  //TERCERA SECCIÓN

  &__third {
    text-align: center;
    padding: 40px 0 60px;
    &__solution {

      &__title {
        margin: 0 0 20px;
        font-size: 28px;
        font-weight: 300;

        @include responsive(phone) {
          padding-top: 60px;
          font-size: 42px;
        }

        @include responsive(desktop) {
          font-size: 54px;
        }
      } 
      
      &__paragraph {
        margin: 0 0 40px;
        font-size: 14px;

        @include responsive(desktop) {
          font-size: 18px;
        }
      }
    }
      
    &__all {
        
      @include responsive(smartPhone) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      &__content {
          margin-top: 50px;
        &__icon {
          font-size: 50px;
          color: $color-orangered;
          margin: 0 0 25px;
        }
          
        &__description {
            
          &__title {
            font-size: 24px;
            margin: 0 0 16px;
            font-weight: 300;

            @include responsive(desktop) {
              font-size: 36px;
            }
          }
            
          &__paragraph {
            font-size: 14px;
            margin: 0 0 24px;
            font-weight: 400;

            @include responsive(desktop) {
          font-size: 18px;
        }
          }
            
          &__number {
            font-size: 14px;
            font-weight: 500;

            @include responsive(desktop) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  //SECCION CUATRO
  &__four {
    padding: 0 0 60px;

    &__position {
      position: relative;

      &__figure {
        width: 100%;
        margin: 0;
      }

      &__img {
        width: 100%;
        display: block;
        object-fit: cover;
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        top: 0;

        &__title {
          margin: 20px 0 10px;
          font-size: 18px;
          font-weight: 400;

          @include responsive(phone) {
            font-size: 32px;
            margin: 35px 0 20px;
          }

          @include responsive(desktop) {
            font-size: 42px;
          }
        }

        &__paragraph {
          width: 70%;
          margin-bottom: 10px;
          font-size: 12px;
          color: #312e2e;

          @include responsive(phone) {
            font-size: 16px;
            margin: 0 0 20px;
          }

          @include responsive(desktop) {
            font-size: 22px;
          }
        }

        &__link {
          color: $color-black;

          @include responsive(phone) {
            font-size: 16px;
            margin: 0 0 20px;
          }

          @include responsive(desktop) {
            font-size: 22px;
          }
        }

        @include responsive(desktop) {
          justify-content: center;
        }
      }

      @include responsive(smartPhone) {
        grid-column: 2 / 3;
      }
    }

    &__all {
      
      &__content {

        &__comillas:before {
          display: block;
          height: 70px;
          content: "\0275e";
          font-size: 100px;
          color: $color-orangered;
        }

        &__paragraph {
          line-height: 1.7;
          font-weight: 300;
          margin: 10px 0 24px;

          @include responsive(tablet) {
            font-size: 24px;
          }

          @include responsive(desktop) {
            font-size: 25px;
            line-height: 1.4;
          }
        }
      }

      &__author {

        &__name {
          font-size: 14px;
          font-weight: 500;
          display: block;

          @include responsive(tablet) {
            font-size: 18px;
          }
        }

        &__direction {
          font-size: 12px;

          @include responsive(tablet) {
            font-size: 14px;
          }
        }
      }

      @include responsive(smartPhone) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }

    @include responsive(smartPhone) {
      padding-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      align-items: center;
    }

    @include responsive(desktop) {
      padding-top: 40px;
    }
  }

  //SECCIÓN CINCO

  &__five {
    text-align: center;
    &__title {
      font-size: 32px;
      font-weight: 300;
      margin: 0 0 16px;

      @include responsive(phone) {
        font-size: 42px;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin: 0 0 60px;

      @include responsive(phone) {
        font-size: 16px;
      }
    }

    &__contain {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, minmax(191px, 1fr));
      gap: 30px;
      
      @each $contenedor, $imagen in $imagenes {
        &__#{$contenedor} {
          background-image: $imagen;
          background-size: cover;
        }
      }

      @include responsive(desktop) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(320px, 1fr));
      }
    }
  }
}
    
  







