@import '../variables/variables';
@import '../mixins/mixins';
@import '../media-queries/media-Queries';

.contacto {
  background-color: #ffF;
  box-shadow: 0px 10px 8px #474747;
  width: 100%;
  position: relative;
  z-index: 20;

  &__wrapper {
    padding: 40px 15px 50px;
    min-width: 280px;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    @include responsive(tablet) {
      max-width: 992px;
      padding: 60px 15px 160px;
    }
  }

  &__title {
    text-align: center;
    margin: 0 0 40px;

    @include responsive(smartPhone) {
      font-size: 32px;
    }

    @include responsive(tablet) {
      font-size: 42px;
    }
  }

  &__text {
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
    color: #383535;

    @include responsive(smartPhone) {
      font-size: 14px;   
      margin-bottom: 40px;
    }

    @include responsive(tablet) {
      font-size: 18px;   
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__grupoNombre {
      @include responsive(phone) {
        grid-column: 1/2;
      }
    }

    &__grupoApellido {
      grid-column: 2/3;
    }

    &__grupoCorreo {
      grid-column: 1/-1;
      width: 100%;
    }

    &__grupoTelefono {
      grid-column: 1/2;
    }

    &__grupoEmpresa {
      grid-column: 2/3;
    }

    &__grupoProvincias {
      width: 100%;
      grid-column: 1/-1;
      justify-self: center;
    }

    &__label {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }
  
    &__input {
      width: 100%;
      height: 40px;
      border: 1px solid #000;
      border-radius: 5px;
      margin-bottom: 20px;
      outline: none;

      &:focus {
        border: 3px solid #0a0a0a;
      }
    }

    &__provincias {
      height: 45px;
      width: 100%;
      margin-bottom: 20px;
    }

    &__texto {
      width: 100%;
      margin: 25px 0;

      @include responsive(phone) {
        grid-column: 1/-1;
      }
    }

    &__textarea {
      width: 100%;
      margin: 0 0 20px;
      resize: none;
    }

    &__newsletter {
      padding-bottom: 20px;

      &__texto {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;

        @include responsive(phone) {
          display: block;
          font-size: 18px;
          text-align: center;
        }
      }

      &__block {
        margin-bottom: 20px;

        @include responsive(phone) {
          display: flex;
          justify-content: space-around;
        }
      }

      &__radio {
        margin-right: 10px;
      }

      &__span {
        display: block;
      }

      @include responsive(phone) {
        grid-column: 1/-1;
        font-size: 18px;
      }
    }

    &__botones__contenedor {
      width: 100%;
      height: 100%;
      margin: 20px 0;

      @include responsive(phone) {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
    }

    &__botones {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      background-color: #131413;
      color: #fff;
      font-weight: 600;
      border: none;
      cursor: pointer;

      @include responsive(tablet) {

        &:hover {
          transform: translate(-5px ,-5px);
          background-color: #353535;
        }
      }

      @include responsive(phone) {
        width: 100%;
        box-shadow: 10px 10px 5px #000;
        transition: all 300ms ease-in;
      }
    }

    @include responsive(phone) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @include responsive(smartPhone) {
      padding: 0 50px;
    }

    @include responsive(tablet) {
      padding: 0 100px;   
    }
  }
}


